@font-face {
    font-family: Semibold;
    src: url("SF-UI-Display-Semibold.otf") format("opentype");
}

.button{
  font-size: 4em;
  background: rgba(0,0,0,0);
  border: none;
  font-family: Semibold;
  font-weight: bold;
}

.buttons{
  text-align: center;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.container{
  height: 99vh;
  width: 99vw;
}

.frame{
  margin: 0 auto;
  text-align: center;
  width: 75vw;
  height: 69vh;
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.25));
  border: 0.5px solid lightgray;
}

.instructions{
  text-align: center;
  font-family: Semibold;
}

#drink{
  font-size: 20px;
}

#left-btn{
  margin: 0 auto;
  display: inline;
  width: 41vw;
  height: 10vh;
  background-color: red;
}

#logo{
  margin-top: 6vh;
  font-size: 8em;
  color: red;
  text-align: center;
  font-weight: bold;
  font-family: Semibold;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  filter: drop-shadow(15px 15px 15px rgba(0, 0, 0, 0.25));
}

#nope{
  font-size: .25em;
}

#photo{
  width: 100%;
  height: 100%;
}

#question{
  margin-top: 20vh;
  font-size: 8em;
}

#right-btn{
  margin: 0 auto;
  display: inline;
  width: 41vw;
  height: 10vh;
  /*float: right;*/
  background-color: lightgreen;
}

#start{
  margin-top: 15vh;
  height: 10vh;
  width: 60vw;
  font-size: 8em;
}
